<#include "/header.html">
<link rel="stylesheet" href="../styles/detail.css">
    <div class="zu-global-notify" id="zh-global-message" style="display:none">
        <div class="zg-wrap">
            <div class="zu-global-nitify-inner">
            <a class="zu-global-notify-close" href="javascript:;" title="关闭" name="close">x</a>
            <span class="zu-global-notify-icon"></span>
            <span class="zu-global-notify-msg"></span>
            </div>
        </div>
    </div>


    <div class="zu-global-notify" id="zh-global-message" style="display:none">
        <div class="zg-wrap">
            <div class="zu-global-nitify-inner">
                <a class="zu-global-notify-close" href="javascript:;" title="关闭" name="close">x</a>
                <span class="zu-global-notify-icon"></span>
                <span class="zu-global-notify-msg"></span>
            </div>
        </div>
    </div>
    <div class="zu-global-notify zu-global-notify-info" id="zh-question-redirect-info" style="display:none"></div>
    <div class="zu-global-notify zu-global-notify-info" id="zh-question-notification-summary" style="display:none;">
        <div class="zg-wrap">
            <div class="zu-global-nitify-inner">
                <span class="zu-global-notify-icon"></span>
                <ul class="zu-question-notify-wrap"></ul>
            </div>
        </div>
    </div>
    <div class="zg-wrap zu-main clearfix with-indention-votebar" itemscope="" itemtype="http://schema.org/Question" id="zh-single-question-page" data-urltoken="36301524" role="main">
        <div class="zu-main-content">
            <div class="zu-main-content-inner">
                <meta itemprop="isTopQuestion" content="false">
                <meta itemprop="visitsCount" content="402">
                <!--<div class="zm-tag-editor zg-section">-->
                    <!--<div class="zm-tag-editor-labels zg-clear">-->
                        <!--<a data-tip="t$b$19550730" class="zm-item-tag" href="">新浪微博</a>-->
                        <!--<a data-tip="t$b$19554412" class="zm-item-tag" href="">网络营销</a>-->
                        <!--<a data-tip="t$b$19559739" class="zm-item-tag" href="">微博粉丝</a>-->
                        <!--<a data-tip="t$b$19560290" class="zm-item-tag" href="">僵尸粉</a>-->
                        <!--<a data-tip="t$b$19565757" class="zm-item-tag" href="">网络水军</a>-->
                        <!--<a href="javascript:;" class="zu-edit-button" name="edit">-->
                            <!--<i class="zu-edit-button-icon"></i>修改</a>-->
                    <!--</div>-->
                <!--</div>-->
                <div id="zh-question-title" data-editable="true" class="zm-editable-status-normal">
                    <h2 class="zm-item-title">

                    <span class="zm-editable-content">${question.title}</span>

                    </h2>
                </div>
                <div id="zh-question-detail" class="zm-item-rich-text zm-editable-status-normal" data-resourceid="6727688" data-action="/question/detail">
                    <div class="zm-editable-content">${question.content}</div>
                </div>
                <div class="zm-side-section">
                    <div class="zm-side-section-inner" id="zh-question-side-header-wrap">
                        <button data-follow="q:m:button" class="follow-button zg-follow zg-btn-green" data-id="6727688">关注问题</button>
                        <div class="zg-btn-white goog-inline-block goog-menu-button" id="zh-question-operation-menu" role="button" aria-expanded="false" tabindex="0" aria-haspopup="true" style="-webkit-user-select: none;">
                            <div class="goog-inline-block goog-menu-button-outer-box">
                                <div class="goog-inline-block goog-menu-button-inner-box">
                                    <div class="goog-inline-block goog-menu-button-caption">
                                        <i class="zg-icon-dropdown-menu zg-icon"></i>
                                        <b class="hide-text">设置</b></div>
                                    <div class="goog-inline-block goog-menu-button-dropdown">&nbsp;</div></div>
                            </div>
                        </div>
                        <div class="goog-menu goog-menu-vertical" role="menu" aria-haspopup="true" style="-webkit-user-select: none; visibility: visible; left: 92px; top: 33px; display: none;">
                            <div class="goog-menuitem" role="menuitem" id=":8" style="-webkit-user-select: none;">
                                <div class="goog-menuitem-content" style="-webkit-user-select: none;">使用匿名身份</div></div>
                            <div class="goog-menuitem" role="menuitem" id=":9" style="-webkit-user-select: none;">
                                <div class="goog-menuitem-content" style="-webkit-user-select: none;">问题重定向</div></div>
                        </div>
                        <div class="zh-question-followers-sidebar">
                            <div class="zg-gray-normal">
                                <a href="">
                                    <strong>9</strong></a>人关注该问题</div>
                            <div class="list zu-small-avatar-list zg-clear">
                                <span class="zm-item-link-avatar">
                                    <img title="匿名用户" class="zm-item-img-avatar" src="../images/res/aadd7b895_s.jpg"></span>
                                <a data-tip="p$b$yi-yi-98-91-99" class="zm-item-link-avatar" href="" data-original_title="奕奕">
                                    <img src="../images/res/6ceea810748d179f57cac0baa5cf9592_s.jpg" class="zm-item-img-avatar"></a>
                                <a data-tip="p$b$wang-wu-29-54" class="zm-item-link-avatar" href="" data-original_title="王五">
                                    <img src="../images/res/da8e974dc_s.jpg" class="zm-item-img-avatar"></a>
                                <a data-tip="p$b$huang-xiang-90-99" class="zm-item-link-avatar" href="" data-original_title="案小声">
                                    <img src="../images/res/19456ebfe8b207320735f282769ac635_s.jpg" class="zm-item-img-avatar"></a>
                                <a data-tip="p$b$yingxiaodao" class="zm-item-link-avatar" href="" data-original_title="营销岛">
                                    <img src="../images/res/11be4a90ed938abfbab4899df56ee754_s.png" class="zm-item-img-avatar"></a>
                                <a data-tip="p$b$hero-hou-23" class="zm-item-link-avatar" href="" data-original_title="Hero Hou">
                                    <img src="../images/res/da8e974dc_s.jpg" class="zm-item-img-avatar"></a>
                                <a data-tip="p$b$jin-hua-zhang-10" class="zm-item-link-avatar" href="" data-original_title="荷尔蒙毒品">
                                    <img src="../images/res/d207854fffc9e0289fbd6bbbb3986988_s.jpg" class="zm-item-img-avatar"></a>
                                <a title="宇轩" data-tip="p$t$yu-xuan-91-11" class="zm-item-link-avatar" href="">
                                    <img src="../images/res/1ac7840eeb19ada0bbf85f51702d5784_s.jpg" class="zm-item-img-avatar"></a>
                                <a title="尹锋" data-tip="p$t$yin-feng" class="zm-item-link-avatar" href="">
                                    <img src="../images/res/da8e974dc_s.jpg" class="zm-item-img-avatar"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="zh-question-answer-wrap" data-pagesize="10" class="zh-question-answer-wrapper navigable" data-widget="navigable" data-navigable-options="{&quot;items&quot;: &quot;&gt;.zm-item-answer&quot;}" data-init="{&quot;params&quot;: {&quot;url_token&quot;: 36301524, &quot;pagesize&quot;: 10, &quot;offset&quot;: 0}, &quot;nodename&quot;: &quot;QuestionAnswerListV2&quot;}">
                    <div tabindex="-1" class="zm-item-answer  zm-item-expanded" itemprop="topAnswer" itemscope="" itemtype="http://schema.org/Answer" data-aid="22162611" data-atoken="66862039" data-collapsed="0" data-created="1444310527" data-deleted="0" data-helpful="1" data-isowner="0" data-copyable="1" data-za-module="AnswerItem">
                        <link itemprop="url" href="">
                        <meta itemprop="answer-id" content="22162611">
                        <meta itemprop="answer-url-token" content="66862039">
                        <a class="zg-anchor-hidden" name="answer-22162611"></a>
                        <div class="zm-votebar goog-scrollfloater" data-za-module="VoteBar">
                            <button class="up" aria-pressed="false" title="赞同">
                                <i class="icon vote-arrow"></i>
                                <span class="count">28</span>
                                <span class="label sr-only">赞同</span></button>
                            <button class="down" aria-pressed="false" title="反对，不会显示你的姓名">
                                <i class="icon vote-arrow"></i>
                                <span class="label sr-only">反对，不会显示你的姓名</span></button>
                        </div>
                        <div class="answer-head">
                            <div class="zm-item-answer-author-info">
                                <a class="zm-item-link-avatar avatar-link" href="" target="_blank" data-tip="p$t$yingxiaodao">
                                    <img src="../images/res/11be4a90ed938abfbab4899df56ee754_s.png" class="zm-list-avatar avatar"></a>
                                <a class="author-link" data-tip="p$t$yingxiaodao" target="_blank" href="">营销岛</a>
                                <span title="爱科学 爱运动" class="bio">，爱科学 爱运动</span></div>
                            <div class="zm-item-vote-info" data-votecount="28" data-za-module="VoteInfo">
                                <span class="voters text">
                                    <a href="" class="more text">
                                        <span class="js-voteCount">28</span>&nbsp;人赞同</a></span>
                            </div>
                        </div>
                        <div class="zm-item-rich-text expandable js-collapse-body" data-resourceid="6727688" data-action="/answer/content" data-author-name="营销岛" data-entry-url="/question/36301524/answer/66862039">
                            <div class="zh-summary summary clearfix" style="display:none;">谢邀！网络水军的兴衰起伏，与互联网的进化相互交织。他们是社交时代的镜子，折射的不仅是屏幕上的瞬息万变，还有公众意识与舆论的更替变迁。从论坛时代到微博时代，再到微信时代，水军一直处于舆论的风口浪尖，但他们自称舆论的“弄潮儿”。从人声鼎沸到繁…
                                <a href="" class="toggle-expand">显示全部</a></div>
                            <div class="zm-editable-content clearfix">
                                <p>谢邀！</p>

                            </div>
                        </div>
                        <a class="zg-anchor-hidden ac" name="22162611-comment"></a>
                        <div class="zm-item-meta answer-actions clearfix js-contentActions">
                            <div class="zm-meta-panel">
                                <a itemprop="url" class="answer-date-link meta-item" target="_blank" href="">发布于 2015-10-08</a>
                                <a href="" name="addcomment" class="meta-item toggle-comment js-toggleCommentBox">
                                    <i class="z-icon-comment"></i>4 条评论</a>
                                <a href="" class="meta-item zu-autohide js-thank" data-thanked="false">
                                    <i class="z-icon-thank"></i>感谢</a>

                                <button class="item-collapse js-collapse" style="transition: none;">
                                    <i class="z-icon-fold"></i>收起</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="zh-question-collapsed-link" class="zu-question-collap-title" style="display:none">
                    <a href="javascript:;" name="expand" class="zg-link-gray" id="zh-question-collapsed-switcher">
                        <span id="zh-question-collapsed-num">0</span>个回答被折叠</a>（
                    <a target="_blank" href="" class="zg-link-gray">为什么？</a>）</div>
                <div id="zh-question-collapsed-wrap" class="zh-question-answer-wrapper" style="display:none"></div>
                <a name="draft"></a>
                <div id="zh-question-answer-form-wrap" class="zh-question-answer-form-wrap">
                    <div class="zm-editable-tip zu-answer-form-disabled-wrap" style="display: none;"></div>
                    <div class="zm-editable-content" style="display: none;">
                    </div>
                    <div class="zm-editable-editor-wrap" style="">
                        <div class="zh-answer-form clearfix">
                            <a href="people/hu-yuan-24-48" title="周铭" class="zm-item-link-avatar" data-tip="p$t$hu-yuan-24-48">
                                <img src="../images/res/0c6a39621ab1d456b1e6e492d0becc0c_s.jpg" class="zm-list-avatar"></a>
                            <div>
                                <div class="zu-answer-form-title">
                                    <a href="people/hu-yuan-24-48" title="周铭" data-tip="p$t$hu-yuan-24-48">周铭</a>
                                    <span>
                                        <a name="edit_bio" class="zu-edit-button" href="question/36301524#">
                                            <i class="zu-edit-button-icon"></i>填写话题经验，提升回答可信度</a>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="zm-editable-editor-outer">
                            <div class="zm-editable-toolbar-container goog-scrollfloater">
                                <div class="goog-toolbar goog-toolbar-horizontal" role="toolbar" tabindex="-1" style="-webkit-user-select: none;">
                                    <div class="goog-inline-block goog-toolbar-button" title="写作模式" role="button" id="toggleFullScreen" style="-webkit-user-select: none;">
                                        <div class="goog-inline-block goog-toolbar-button-outer-box" style="-webkit-user-select: none;">
                                            <div class="goog-inline-block goog-toolbar-button-inner-box" style="-webkit-user-select: none;">
                                                <div class="tr-icon tr-max" style="-webkit-user-select: none;"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="goog-inline-block goog-toolbar-button" title="粗体 (ctrl+b)" role="button" aria-pressed="false" id="+bold" style="-webkit-user-select: none;">
                                        <div class="goog-inline-block goog-toolbar-button-outer-box" style="-webkit-user-select: none;">
                                            <div class="goog-inline-block goog-toolbar-button-inner-box" style="-webkit-user-select: none;">
                                                <div class="tr-icon tr-bold" style="-webkit-user-select: none;"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="goog-inline-block goog-toolbar-button" title="斜体 (ctrl+i)" role="button" aria-pressed="false" id="+italic" style="-webkit-user-select: none;">
                                        <div class="goog-inline-block goog-toolbar-button-outer-box" style="-webkit-user-select: none;">
                                            <div class="goog-inline-block goog-toolbar-button-inner-box" style="-webkit-user-select: none;">
                                                <div class="tr-icon tr-italic" style="-webkit-user-select: none;"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="goog-inline-block goog-toolbar-button" title="下划线 (ctrl+u)" role="button" aria-pressed="false" id="+underline" style="-webkit-user-select: none;">
                                        <div class="goog-inline-block goog-toolbar-button-outer-box" style="-webkit-user-select: none;">
                                            <div class="goog-inline-block goog-toolbar-button-inner-box" style="-webkit-user-select: none;">
                                                <div class="tr-icon tr-underline" style="-webkit-user-select: none;"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="goog-toolbar-separator goog-toolbar-separator-disabled goog-inline-block" aria-disabled="true" role="separator" id=":m" style="-webkit-user-select: none;">&nbsp;</div>
                                    <div class="goog-inline-block goog-toolbar-button" title="引用内容" role="button" aria-pressed="false" id="+blockquote" style="-webkit-user-select: none;">
                                        <div class="goog-inline-block goog-toolbar-button-outer-box" style="-webkit-user-select: none;">
                                            <div class="goog-inline-block goog-toolbar-button-inner-box" style="-webkit-user-select: none;">
                                                <div class="tr-icon tr-blockquote" style="-webkit-user-select: none;"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="goog-inline-block goog-toolbar-button" title="插入代码" role="button" aria-pressed="false" id="+code" style="-webkit-user-select: none;">
                                        <div class="goog-inline-block goog-toolbar-button-outer-box" style="-webkit-user-select: none;">
                                            <div class="goog-inline-block goog-toolbar-button-inner-box" style="-webkit-user-select: none;">
                                                <div class="tr-icon tr-code" style="-webkit-user-select: none;"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="goog-inline-block goog-toolbar-button" title="有序列表" role="button" aria-pressed="false" id="+insertOrderedList" style="-webkit-user-select: none;">
                                        <div class="goog-inline-block goog-toolbar-button-outer-box" style="-webkit-user-select: none;">
                                            <div class="goog-inline-block goog-toolbar-button-inner-box" style="-webkit-user-select: none;">
                                                <div class="tr-icon tr-insertOrderedList" style="-webkit-user-select: none;"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="goog-inline-block goog-toolbar-button" title="无序列表" role="button" aria-pressed="false" id="+insertUnorderedList" style="-webkit-user-select: none;">
                                        <div class="goog-inline-block goog-toolbar-button-outer-box" style="-webkit-user-select: none;">
                                            <div class="goog-inline-block goog-toolbar-button-inner-box" style="-webkit-user-select: none;">
                                                <div class="tr-icon tr-insertUnorderedList" style="-webkit-user-select: none;"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="goog-inline-block goog-toolbar-button" title="插入公式" role="button" id="+equation" style="-webkit-user-select: none;">
                                        <div class="goog-inline-block goog-toolbar-button-outer-box" style="-webkit-user-select: none;">
                                            <div class="goog-inline-block goog-toolbar-button-inner-box" style="-webkit-user-select: none;">
                                                <div class="tr-icon tr-equation" style="-webkit-user-select: none;"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="goog-toolbar-separator goog-toolbar-separator-disabled goog-inline-block" aria-disabled="true" role="separator" id=":n" style="-webkit-user-select: none;">&nbsp;</div>
                                    <div class="goog-inline-block goog-toolbar-button" title="插入图片" role="button" id="image" style="-webkit-user-select: none;">
                                        <div class="goog-inline-block goog-toolbar-button-outer-box" style="-webkit-user-select: none;">
                                            <div class="goog-inline-block goog-toolbar-button-inner-box" style="-webkit-user-select: none;">
                                                <div class="tr-icon tr-image" style="-webkit-user-select: none;"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="goog-inline-block goog-toolbar-button" title="插入视频" role="button" id="video" style="-webkit-user-select: none;">
                                        <div class="goog-inline-block goog-toolbar-button-outer-box" style="-webkit-user-select: none;">
                                            <div class="goog-inline-block goog-toolbar-button-inner-box" style="-webkit-user-select: none;">
                                                <div class="tr-icon tr-video" style="-webkit-user-select: none;"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="goog-toolbar-separator goog-toolbar-separator-disabled goog-inline-block" aria-disabled="true" role="separator" id=":o" style="-webkit-user-select: none;">&nbsp;</div>
                                    <div class="goog-inline-block goog-toolbar-button" title="清除格式" role="button" id="+removeFormat" style="-webkit-user-select: none;">
                                        <div class="goog-inline-block goog-toolbar-button-outer-box" style="-webkit-user-select: none;">
                                            <div class="goog-inline-block goog-toolbar-button-inner-box" style="-webkit-user-select: none;">
                                                <div class="tr-icon tr-removeFormat" style="-webkit-user-select: none;"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tr-spinner spinner-gray" style="display: none;"></div>
                                </div>
                            </div>
                            <div class="zm-editable-editor-field-wrap">
                                <div id="mock:f" class="zm-editable-editor-field-element editable" g_editable="true" role="textbox" contenteditable="true" style="font-style: italic;">
                                    <p>
                                        <span style="font-style: normal;color: #999;">写回答…</span></p>
                                </div>
                                <div class="editable-dropzone">
                                    <div class="row">
                                        <div class="cell">
                                            <div>拖拽至此处上传</div></div>
                                    </div>
                                </div>
                            </div>
                            <div class="mention-popup" style="display: none;">
                                <div class="writing-bg">
                                    <input role="combobox" aria-autocomplete="list" autocomplete="off"></div>
                                <div class="tip">想用 @ 提到谁？</div></div>
                        </div>
                        <div class="zm-command clearfix">
                            <label class="zg-left anno-box" style="-webkit-user-select: none;">
                                <input name="anno-checkbox" type="checkbox" style="-webkit-user-select: none;">匿名
                                <span style="-webkit-user-select: none;">&nbsp;</span></label>
                            <label class="zg-left copyright-box">
                                <input name="copyright-checkbox" type="checkbox">未经许可，禁止转载
                                <a href="terms#sec-licence-6" target="_blank">
                                    <i class="zg-icon zg-icon-question-mark" style="margin-left: 5px;" id="copyright_question_mark" data-copyright-demo="true"></i></a>
                            </label>
                            <span class=" zg-right">
                                <a class="submit-button zg-btn-blue" name="save" href="javascript:">发布回答</a></span>
                            <div class="draft-controls zg-right ">
                                <span class="draft-saved-info" style="display: none;">
                                    <a class="draft-clear-button goog-inline-block" href="question/36301524#" data-tip="s$b$删除草稿">
                                        <i class="zg-icon zg-icon-bin"></i>
                                        <span class="hide-text">清除草稿</span></a>
                                    <span class="draft-saved-time"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 版权演示 -->
                <script type="text/x-template" id="copyright-demo-template">< article >

                    <section > <p class = "copyright-demo-title" > 这是你的回答正文 < /p>
    <div class="copyright-demo-region"></div > <div class = "copyright-demo-region" ></div>
    <div class="copyright-demo-region"></div > <div class = "copyright-demo-region" ></div>
    <div class="copyright-demo-region"></div ></section>

    <section>
    <p class="copyright-demo-title"> 当其他人想复制你的一段回答 </p > <div class = "copyright-demo-region frame2-region"id = "copyright-demo-region1" > <span class = "copyright-ico-indicator"id = "copyright-demo-indicator" > </span></div > <div class = "copyright-demo-region frame2-region"id = "copyright-demo-region2" ></div>
    <div class="copyright-demo-region frame2-region" id="copyright-demo-region3"></div > <div class = "copyright-demo-region frame2-region"id = "copyright-demo-region4" ></div>
    <div class="copyright-demo-region"></div ></section>

    <section id="copyright-demo-frame3">
    <p class="copyright-demo-title"> 复制将受限，同时会弹出提醒 </p > <div class = "copyright-demo-region copyright-demo-region-selected" ></div>
    <div class="copyright-demo-region copyright-demo-region-selected"></div > <div class = "copyright-demo-region copyright-demo-region-selected" ></div>
    <div class="copyright-demo-region copyright-demo-region-selected"></div > <div class = "copyright-demo-region" ></div>
    <span class="copyright-ico-pointer copyright-demo-pointer"></span > </section></article > </script>
            </div>
        </div>
    </div>
    <script type="text/json" class="json-inline" data-name="guiders2">{
            "exclusive-popover": {},
            "section": {},
            "editor": []
        }</script>
    <script type="text/json" class="json-inline" data-name="current_user">["\u80e1\u539f", "hu-yuan-24-48", "https:\/\/pic1.zhimg.com\/0c6a39621ab1d456b1e6e492d0becc0c_s.jpg", "69e344deb3bd4d35db07194565261bbe", "", 0, 0, true, "422018883@qq.com", "http:\/\/mail.qq.com", 0, true, false, false, "734705672150609920", false]</script>
    <script type="text/json" class="json-inline" data-name="user_status">[null, null]</script>
    <script type="text/json" class="json-inline" data-name="env">["nowcoder.com", "comet.nowcoder.com", false, null, false]</script>
    <script type="text/json" class="json-inline" data-name="permissions">[]</script>
    <script type="text/json" class="json-inline" data-name="ga_vars">{
            "user_created": 1467947482000,
            "now": 1467969333000,
            "abtest_mask": "---------1--------------------",
            "user_attr": [1, 0, 0, "-", "-"],
            "user_hash": "69e344deb3bd4d35db07194565261bbe"
        }</script>
    <script type="text/json" class="json-inline" data-name="ra-urls">{
            "Report": "https:\/\/static.nowcoder.com\/static\/revved\/-\/apps\/Report.d6e20840.js",
            "Community": "https:\/\/static.nowcoder.com\/static\/revved\/-\/apps\/Community.4e11c449.js",
            "OrgAnalytics": "https:\/\/static.nowcoder.com\/static\/revved\/-\/apps\/OrgAnalytics.47e1a483.js",
            "common": "https:\/\/static.nowcoder.com\/static\/revved\/-\/apps\/common.ed1d17c3.js",
            "CommentApp": "https:\/\/static.nowcoder.com\/static\/revved\/-\/apps\/CommentApp.2ab02258.js"
        }</script>
    <script type="text/json" class="json-inline" data-name="current_question">{
            "status": "normal",
            "editPermission": false,
            "qid": 6727688,
            "askAboutMember": 0,
            "isEditLocked": false,
            "detailEditReasonRequired": true,
            "isAnon": 0,
            "showInvitePanel": true,
            "isOrg": false,
            "isLocked": 0,
            "urlToken": 36301524
        }</script>
    <script type="text/json" class="json-inline" data-name="current_question_owner">false</script>
    <script type="text/json" class="json-inline" data-name="draft">[]</script>
    <script type="text/json" class="json-inline" data-name="my_answer">{}</script>
    <script type="text/json" class="json-inline" data-name="current_question_bio">{
            "selected_bio": "headline",
            "type": "HEADLINE",
            "value": null
        }</script>
    <script type="text/json" class="json-inline" data-name="redirect_to">""</script>
    <script src="../scripts/vendor.ff76fbae.js"></script>
    <script src="../scripts/base.fb262f0e.js"></script>
    <script src="../scripts/common.fed5411f.js"></script>
    <script src="../scripts/richtexteditor.aa0a4005.js" async=""></script>
    <script src="../scripts/page-main.5d4c554d.js"></script>
    <meta name="entry" content="ZH.entrySQ" data-module-id="page-main">
    <script type="text/zscript" znonce="8d61d9c6697d4080ab36aa3bdb21b9d8"></script>
    <input type="hidden" name="_xsrf" value="21aa1c8d254df2899b23ab9afbd62a53">
    <div class="zh-backtotop" style="opacity: 0; display: none;">
        <a data-action="backtotop" data-tip="s$r$回到顶部" href="javascript:;" class="btn-backtotop btn-action">
            <div class="arrow"></div>
            <div class="stick"></div>
        </a>
    </div>
    <div id="copyright-demo-helper" style="display: none; position: absolute;">
        <p class="copyright-demo-helper-intro">勾选后，我们将限制其他用户的复制操作，并给予提醒</p>
        <p class="copyright-demo-helper-btn">查看演示</p></div>
    <div id="zh-tooltip"></div>
    <div style="display: none;">
        <div class="lang-select collapsed">
            <div class="title-button" style="-webkit-user-select: none;">选择语言</div>
            <i class="zg-icon zg-icon-double-arrow"></i>
            <div class="input-wrapper">
                <input class="filter-input zg-form-text-input" placeholder="搜索语言" role="combobox" aria-autocomplete="list"></div>
        </div>
    </div>
    <div></div>

    <!-- 下面是弹窗 -->

            <div class="modal-dialog-buttons" style="display: none;"></div>
        </div>
    </div>

<#include "/footer.html">